body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #e0ffff, #ffe0e0); /* 浅蓝到浅红渐变背景，从上到下 */
    color: #333;
    min-height: 100vh; /* 设置body最小高度为视口高度 */
    display: flex;
    flex-direction: column;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

main {
    padding: 20px;
    flex: 1; /* 使main占据剩余空间 */
}

.member-container {
    padding-bottom: 20px;
    text-align: center; /* Center the content horizontally */
}

#team-members {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
}

#team-members::-webkit-scrollbar {
    height: 8px;
}

#team-members::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#team-members::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

#team-members::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.member {
    flex: 0 0 auto;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    text-align: center;
    text-decoration: none;
}

#projects {
    max-width: 800px;
    margin: 0 auto;
}

#projects h2 {
    text-align: none;
}

.project {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color:black;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
